
#menu{
  width: 100%;
  max-width: 800px;    
  margin: auto;     
  padding: 5px;      
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width:701px) and (max-width: 1400px){
  #menu {margin-left:10%;margin-right: 10%;padding: 10px;}
  #menu .menu{display: block; margin-bottom: 10px;}
  #menu .label{display:block;width: 100%;margin-left: 0;}
  #menu .texto{display:block;width: 100%;margin-left: 0;}
  #menu .caja{margin:0px; display:block;width: 100%;padding: 8px;}
  .botones{text-align: center; margin-top: 12px;}
   .texto select,
  .texto input{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #menu {margin-left:5%;margin-right: 5%;padding: 10px; margin: 10px;}
  #menu .menu{display: block; margin-bottom: 10px;}
  #menu .label{display:block;width: 100%;margin-left: 0;}
  #menu .texto{display:block;width: 100%;margin-left: 0;}
  #menu .caja{margin:0px; display:block;width: 100%;padding: 8px;}
  .botones{text-align: center; margin-top: 12px;}
   .texto select,
  .texto input{
    width: 100%;
  }
}

.categoria{
  text-align: left;
  font-size: 17px;
  color: black;
  font-family:'Times New Roman', Times, serif;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.menu{
  margin-top: 10px;
  text-align: center;
}

.label{
  width: 50%;
  text-align: left;
  display: inline-block;
  margin: 3px;
  margin-left: 20px;
}

.texto{
  width: 30%;
  text-align: left;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  color: black;
}

.texto select,
.texto input{
  width: 260px;
  max-width: 100%;
  box-sizing: border-box;
}

.caja{
  display: inline-block;
  border: 1px solid;
  border-radius: 10px;
  border-color: #a48467;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 50px;
  background-color: #ddd9ce;
}

.boton{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px;
  border-radius: 8px;
  background-color: #d0a781;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  cursor:pointer;
}

.boton:hover{
  background-color: #e3c3a4; 
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 8px;
}

.enviado {
  color: green;
  font-size: 16px;
  margin-top: 8px;
  font-weight: bold;
}